{% extends 'main.html' %}

{% block content %}

{% load static %}

<div id="lesson-page">
    <div class="header-container">
        <div class="header-left">
            <h1>Lesson [LIVE]</h1>
        </div>
        <div class="header-right">
            <p>Class: {{ class_name }}</p>
            <p>Subject: {{ subject }}</p>
            <p>Cabinet: {{ cabinet }}</p>
        </div>
    </div>
</div>

<h2>Students</h2>
<hr>

<button id="start-lesson-btn" class="start-button" onclick="openModal()">Show QR</button>
<div id="slm" class="modal hidden">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="closeModal()">&times;</span>
            <h1>Lesson QR</h1>
        </div>
        <div class="qr-code">
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
        </div>
        <div id="qr-update-info">
            <p id="countdown-text">QR refresh in: 30</p> <!-- Initial text -->
        </div>
    </div>
</div>

<div id="students-list" class="students-list">
    <!-- Firebase updates this in real-time -->
</div>

<div class="end-lesson">
    <form action="{% url 'end_lesson' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">End Lesson</button>
    </form>
</div>

<!-- Firebase SDKs -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>

<script>
    var schoolId = "{{ school_id }}";
    var className = "{{ class_name }}";
    let generateQrUrl = "{% url 'generate_qr' lessonID %}";
</script>

<script src="{% static 'js/firebase-config.js' %}"></script>
<script src="{% static 'js/lesson.js' %}"></script>
<script src="{% static 'js/lessonqrupdate.js' %}"></script>

{% endblock content %}
