{% extends 'main.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/lessoncompleted.css' %}" />
{% endblock %}

{% block content %}
    <div class="lesson-cp-page">
        <div class="header-container">
            <h1>Lesson Completed</h1>
            <p class="thank-you-text">Thank you for using Lessonix!</p>
        </div>

        <div class="lesson-statistics">
            <h2>Lesson Statistics</h2>
            <a id="download-txt-btn">
                <img src="{% static 'img/save-ico.png' %}" alt="Save Icon">
            </a>
            <p>Cabinet: <strong>{{ cabinet }}</strong></p>
            <p>Class: <strong>{{ class_name }}</strong></p>
            <p>Subject: <strong>{{ subject }}</strong></p>
            <p>Number of students present: <strong>{{ present_count }}</strong></p>
            <p>Number of students marked as ill: <strong>{{ ill_count }}</strong></p>
            <p>Number of students absent: <strong>{{ absent_count }}</strong></p>
            <p><strong>Lesson Duration:</strong> {{ duration }} </p>
        </div>

        <div class="attendance-report">
            <div class="report-container">
                <h2>Attendance Table:</h2>
                <a id="download-xlsx-btn">
                    <img src="{% static 'img/save-ico.png' %}" alt="Save Icon">
                </a>
                {% if report_data %}
                    <table class="report-table">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in report_data %}
                                <tr>
                                    <td>{{ student.full_name }}</td>
                                    <td>{{ student.status|default:"&nbsp;" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No attendance information available.</p>
                {% endif %}
            </div>
        </div>

        <div class="lesson-logs">
            <h2>Lesson Logs</h2>
            <p>Logs are currently unavailable.</p>
        </div>

        <div class="go-home">
            <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>
        </div>
    </div>

    <script>
        let downloadTxtUrl = "{% url 'download_txt' %}";
        let downloadXlxsUrl = "{% url 'download_xlsx' %}";
    </script>
    
    <script src="{% static 'js/downloadlessonstatistic.js' %}"></script>
    <script src="{% static 'js/downloadlessonatendence.js' %}"></script>
{% endblock %}
