{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="my-school-container">
    <div class="upper-div">
        <h1>Мій клас: {{ class_name }}</h1>
    </div>
    <hr>
    <div class="students-list">
        {% for student in students %}
            <div class="student-item">
                <div class="student-icon student-img">
                    <img src="{% static 'img/student_ico.png' %}" alt="Student Icon">
                </div>
                <div class="student-details">
                    <p class="student-name">{{ forloop.counter }}. {{ student.full_name }}</p>
                    <p class="student-status">{{ student.translated_status }}</p>
                    {% if student.med_extra %}
                        <p class="student-med-extra">Додатково: {{ student.med_extra }}</p>
                    {% endif %}
                </div>
                <div class="student-actions">
                    <a href="{% url 'student_detail' school_id=school_id student_id=student.id %}" class="view-btn">Переглянути</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
