{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="teacher-profile-container">
    <div class="upper-div-profile">
        <a class="back-button" href="/">
            <img src="{% static 'img/arrow-left.png' %}" alt="Back Icon">
        </a>
        <p class="teacher-title"> {{ full_name }} </p>
        <div class="teacher-icon">
            <img src="{% static 'img/teacher-ico.png' %}" alt="Teacher Icon">
        </div>
    </div>
    <div class="center-div">
        <div class="profile-image">
            <img src="{% static 'img/profile-ico.png' %}" alt="Profile Image">
        </div>
        <div class="info-div">
            <div class="left-info">
                <div class="registered-info">
                    <p class="info"> Зареєстрований(-а) </p>
                </div>
                <div class="classes-info">
                    <p class="info"> Класи: </p>
                    {% for class in classes.keys %}
                        <div class="class-box">
                            {{ class }}
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="right-info">
                <div class="subjects-info">
                    <p class="info"> Уроки: </p>
                    {% for subject in subjects.keys %}
                        <div class="subject-box">
                            {{ subject }}
                        </div>
                    {% endfor %}
                </div>
                <div class="cabinets-info">
                    <p class="info"> Кабінети: </p>
                    {% for cab in cabinets.keys %}
                        <div class="cabinet-box">
                            {{ cab }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}" />

{% endblock content %}
