<!DOCTYPE>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lessonix</title>
    <link rel="icon" type="image/png" href="{% static 'img/tab_ico.png' %}" />
    
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}" />

    {% block css %}
    {% endblock %}
</head>

<body>
    {% include 'navbar.html' %}

    <div class="main-content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

</body>
</html>