#lesson-page .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

#lesson-page .header-left h1 {
    font-size: 2.5em;
    margin-left: 20px;
    margin-top: 5px;
    color: gray;
}

#lesson-page .header-right p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

h2 {
    font-size: 1.7em;
    color: #4CAF50;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

hr {
    border: 0;
    height: 2px;
    background-color: #4CAF50;
    width: 100%;
    margin-bottom: 20px;
}

.end-lesson .btn {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for a more prominent button */
    font-size: 1.2em; /* Increased font size */
    border: none; /* Remove default borders */
    border-radius: 8px; /* Slightly rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.end-lesson .btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; /* Modal initially invisible */
    visibility: hidden; /* Ensures that it's not clickable when hidden */
    transition: opacity 0.2s linear; /* Transition for opacity with linear timing */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    transition: transform 0.2s linear, opacity 0.2s linear; /* Use linear timing for transitions */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row-reverse; /* Close button will be on the right, text on the left */
}

/* Hidden modal class */
.hidden {
    display: none;
}

.modal.show {
    opacity: 1; /* Make the modal visible */
    visibility: visible; /* Modal becomes interactive */
}

/* Modal content for when the modal is shown */
.modal.show .modal-content {
    transform: translateY(0); /* Slide up to position */
    opacity: 1; /* Make the content visible */
}

/* Modal content for when the modal is hidden */
.modal.hidden .modal-content {
    transform: translateY(100%); /* Slide down */
    opacity: 0; /* Fade out */
}

.qr-update-info p {
    text-align: center;
}